@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}


.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    max-width: 1200px;
    margin: 0 auto;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav.active {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active a {
    color: #000;
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: #c0392b;
    font-weight: bold;
}

.nav_list {
    list-style-type: none;
}

@media (max-width: 700px) {
    .nav_list ul .bigScreen {
        display: none;
    }
}

@media (min-width: 701px) {
    .nav_list ul .smallScreen {
        display: none;
    }
}

#toasts {
    display: flex;
    position: fixed;
    top: 30px;
    font-size: small;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    z-index: 2000;
}


#toasts i {
    margin-right: 5px;
}

.toast {
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: inherit;
}

.menu {
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

/* .dropdown:hover {
    transform: scale(0.95);
} */

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    margin-top: 5px;
    margin-right: 5px;
    display: none;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carousel {
    overflow: hidden;
}

.image-container {
    width: 600%;
    height: 80vh;
    display: flex;
    transform: translateX(0);
    transition: transform 0.7s ease-in-out;
}

.img-wrapper {
    flex: 1;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 700px) {
    img {
        height: 50vh;
        object-fit: cover;
    }

    .image-container {
        height: 50vh;
    }
}

.text-wrapper {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
}

@media (max-width: 700px) {
    .text-wrapper {
        top: 24%;
    }
}

.image-text {
    margin: 0;
    font-size: 60px;
    color: hsl(0, 0%, 100%);
    font-family: inherit;
    font-weight: bold;
}

.search {
    color: black;
    border-radius: 40px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 600px;
    outline: none;
    outline-color: white;
    border: none;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.8);
    position: relative;
    background: url('/images/search.svg') no-repeat right 15px center;
    background-size: 20px;
    z-index: 2000;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.search:focus {
    outline: none;
    background-color: hsl(0, 0%, 100%);
}

.search::placeholder {
    color: hsl(0, 0%, 100%);
}

@media (max-width: 700px) {
    .image-text {
        font-size: 35px;
        line-height: 55px;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .search {
        font-size: 1rem;
        width: 300px;
        max-width: 100%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-top: 18px;
    background-color: #0c0c19;
}

main::-webkit-scrollbar {
    display: none;
}

.movie {
    background-color: white;
    overflow: hidden;
    position: relative;
    margin: .5rem 2rem;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.2);
}


.movie:hover .overview {
    transform: translateY(0);
}

@media (max-width: 1800px) {
    .movie {
        flex: 1 0 calc(15.33%);
    }
}

@media (max-width: 1300px) {
    .movie {
        flex: 1 0 calc(18.33%);
    }
}

@media (max-width: 1000px) {
    .movie {
        flex: 1 0 calc(25.33%);
    }
}

@media (max-width: 700px) {
    .movie {
        flex: 1 0 calc(30.33%);
    }
}

@media (max-width: 500px) {
    .movie {
        flex: 1 0 calc(50%);
        width: 100%;
    }
}

.movie img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    background-position: center;
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.movie-info h3 {
    margin-right: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.movie-info span {
    background-color: #222;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #d7e5f3;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow-y: scroll;
}

.overview::-webkit-scrollbar {
    display: none;
}

.movie:hover .overview {
    transform: translateY(0);
}

h2 {
    display: flex;
    padding-bottom: 0;
    color: white;
    padding-top: 20px;
    background-color: #0c0c19;
    font-family: inherit;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    h2 {
        padding-bottom: 10px;
    }
}